---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import AboutInfo from '../components/AboutInfo.astro'
import CarGrid from '../components/CarGrid.astro'
import Footer from '../components/Footer.astro'
import { brands, getCarsByBrand } from '../data/cars'
---

<Layout>
  <Header />
  <main>
    <Hero />
    <AboutInfo />
    {brands.map((brand) => (
      <CarGrid brand={brand} cars={getCarsByBrand(brand)} />
    ))}
  </main>
  <Footer />
</Layout>
